<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="/admin/dist/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/admin/dist/assets/css/style.css">



</head>
<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar  ">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ">

                <div class="">
                    <div class="main-menu-header">
                        <img class="img-radius" src="/admin/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
                        <div class="user-details">

                            <div id="more-details">Admin<i class="fa fa-chevron-down m-l-5"></i></div>
                        </div>
                    </div>
                    <div class="collapse" id="nav-user-link">
                        <ul class="list-unstyled">
                            <li class="list-group-item"><a href="/Admin/Admin/GetProfile/"><i class="feather icon-user m-r-5"></i>Profil Düzenle</a></li>
                            <li class="list-group-item"><a href="/Login/Logout/"><i class="feather icon-log-out m-r-5"></i>Çıkış Yap</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="nav pcoded-inner-navbar ">

                    <li class="nav-item">
                        <a href="/Admin/News/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Haberler</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Eat/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Yemek</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Category/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Kategoriler</span></a>
                    </li>              
                 
                    <li class="nav-item">
                        <a href="/Admin/SocialMedia/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Sosyal Medya</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Contact/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext"> Gelen Mesajlar </span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/TestCategory/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Test Kategorileri</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Test/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Testler</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Question/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Sorular</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/QuestionOption/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Soru Cevapları</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Statistic/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">İstatistik</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Default/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Siteye Git</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/admin/dist/assets/assets/images/logo.png" alt="" class="logo">
                <img src="/admin/dist/assets/assets/images/logo-icon.png" alt="" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto">

                @await Component.InvokeAsync("_AdminContactPartial")
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="/admin/dist/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>Admin</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="/Admin/Admin/GetProfile/" class="dropdown-item"><i class="feather icon-user"></i>Profilim</a></li>
                                <li><a href="/Admin/Contact/Index/" class="dropdown-item"><i class="feather icon-mail"></i> Mesajlarım</a></li>
                                <li><a href="/Login/Logout" class="dropdown-item"><i class="feather icon-lock"></i> Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            @RenderBody()

        </div>
    </div>


    <!-- Required Js -->
    <script src="/admin/dist/assets/js/vendor-all.min.js"></script>
    <script src="/admin/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/admin/dist/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <script src="/admin/dist/assets/js/plugins/apexcharts.min.js"></script>


    <!-- custom-chart js -->
    <script src="/admin/dist/assets/js/pages/dashboard-main.js"></script>
</body>

</html>
<script>
    $(document).ready(function () {
        $(".fixed-button.active").remove();
    });
</script>