@model Test
@{
    ViewData["Title"] = "EditTest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center;color:darkblue">Haber Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="TestID" />
    <label>Test Başlığı</label>
    <input asp-for="Title" class="form-control" style="background-color:lightgray" />
    <br />
    @Html.Label("Test Kategorisi:")
    @Html.DropDownListFor(x => x.TestCategoryID, (List<SelectListItem>)ViewBag.editTestCategory,
    new { @class = "form-control" })
    <br />
    <label>Test Fotoğrafı</label>
    <input type="file" class="form-control border" name="Photo" />
    <br />
    @if (!String.IsNullOrWhiteSpace(Model.SignedUrl))
    {
        <div cite="md-col-10">
            <img style="width:400px" src="@Model.SignedUrl" class="figure-img img-fluid rounded max-image-size" alt="@Model.SavedFileName">
        </div>
    }
    <br />
    <input name="SavedUrl" type="hidden" class="form-control" />
    <input name="SavedFileName" type="hidden" class="form-control" />
    <button class="btn btn-info"> Güncelle </button>
</form>